# kopiu al /etc/systemd/system
# kaj aktivigu per:
#   sudo systemctl enable akrido.service
# kaj lanĉu per:
#   sudo systemctl start akrido.service
# haltigu per:
#   sudo systemctl stop akrido.service
# kontrolu per:
#   sudo systemctl status akrido.service

# pri adapti postulemon per "nice"
# ekz-e vd. https://github.com/mikebrady/shairport-sync/issues/205

[Unit]
Description=Revo-Analizo-Servo

[Service]
# Type=simple
Type=forking
Restart=on-abnormal
Nice=5
ExecStart=/home/revo/voko-akrido/bin/run-anasrv.sh
ExecStop=/home/revo/voko-akrido/bin/stop-anasrv.sh

[Install]
WantedBy=multi-user.target
