body {
    background-color: lightgoldenrodyellow;
    font-size: 12pt;
}
.malstrikte { color: brown; font-size: 12pt; }
.neanaliz { color:red; font-weight: bold; font-size: 12pt;}
.dubebla { color: #bb2222; font-size: 12pt; }
.verda { color: green; font-size: 12pt; }
.kuntirita { color: brown; font-size: 12pt; }
.mlg {font-weight: bold}

/* neoficiala radiko 
metu post oficialaj, ĉar povas aperi listo de pluraj klasoj po vorto */
.o_n { color: blue; font-size: 12pt; }
/* evitinda radiko */
.evi { color: #c11; font-size: 12pt; } 

A.redakti {text-decoration: none; color: black}
A.redakti:link {text-decoration: none; color: black}
