
.malstrikte { color: brown }
.neanaliz { color:red; font-weight: bold}
.dubebla { color: brown }
.verda { color: green }
.redakti {font-size: larger; color: black}
.mlg {font-weight: bold}


A.redakti {text-decoration: none; color: black}
A.redakti:link {text-decoration: none; color: black}
