
body {
  background-color: lightgoldenrodyellow;
}
.malstrikte { color: brown; font-size: 12pt; }
.neanaliz { color:red; font-weight: bold; font-size: 12pt;}
.dubebla { color: #bb2222; font-size: 12pt; }
.verda { color: green; font-size: 12pt; }
.kuntirita { color: brown; font-size: 12pt; }
.mlg {font-weight: bold}

/* neoficiala radiko 
  metu post oficialaj, ĉar povas aperi listo de pluraj klasoj po vorto */
.o_n { color: blue; font-size: 12pt; }
/* evitinda radiko */
.evi { color: #c11; font-size: 12pt; }


#analizo_eraro {
  color: darkred;
  font-weight: bold;
}

#analizo_rezulto,
#legendo {
  max-width: 45em;
}

#analizo_rezulto {
  border: 1px dotted orange;
}

#analizo_rezulto sup,
#legendo sup {
    font-size: 67%;
}

.hidden_text li p,
span.hidden { 
  font-size: 0;
}

.hidden_text span::before {
  content: " \a0| ";
}


/*
por aldoni skribilon cele al redaktado de artikolo: 
.redakti {font-size: larger; color: black}

A.redakti {text-decoration: none; color: black}
A.redakti:link {text-decoration: none; color: black}
*/